google-api-python-client==1.9.3
google-auth~=1.4.0
google-colab==1.0.0
google==2.0.3
imageio==2.8.0
imutils==0.5.3
ipykernel~=4.6.0
jupyter==1.0.0
matplotlib==3.2.1
notebook~=5.2.0
numpy==1.18.4
Pillow==7.1.2
scikit-image==0.17.2
scipy==1.4.1
torch==1.5.0
torchvision==0.6.0
tornado~=4.5.0
tqdm==4.46.0
